/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url('/public/fonts/Fredoka_One.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
================================================
* Angular Material 2
================================================
*/
//imports all the main angular material assets and predefined theming variables
@import '../node_modules/@angular/material/core/theming/all-theme';

/*Include the base styles for Angular Material core. We include this here so that you only
have to load a single css file for Angular Material in your app.*/

@include mat-core();

/*Define the palettes for your theme using the Material Design palettes available in palette.scss
(imported above). For each palette, you can optionally specify a default, lighter, and darker
hue.*/

$primary: mat-palette($mat-blue, 500);
$accent: mat-palette($mat-green, 500);

/*The warn palette is optional (defaults to red).*/

$warn: mat-palette($mat-red);

/*Create the theme object (a Sass map containing all of the palettes).*/

$theme: mat-light-theme($primary, $accent, $warn);

/*Include theme styles for core and each component used in your app.
Alternatively, you can import and @include the theme mixins for each component
that you are using.*/

@include angular-material-theme($theme);

/*
---------------------------------------------
* End Angular Material 2
---------------------------------------------
*/


/*
==========================================================================
* Reset browser default:
* CSS so cross browser styling is more predictable
==========================================================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

applet,
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Fredoka One', Arial;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -moz-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
}

html {
    position: relative;
    overflow-y: scroll;
}

the-island .md-input-placeholder,
the-island .md-input-underline,
the-island .md-input-element {
    color: white;
    border-color: white;
}

button.zoom-out span.md-button-wrapper {
    font-size: 20px;
    vertical-align: top;
    line-height: 100%;
    display: block;
}


/*
--------------------------------------------------------------------------
* End Reset browser default
--------------------------------------------------------------------------
*/