/* latin */
@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: local('Fredoka One'), local('FredokaOne-Regular'), url('/public/fonts/Fredoka_One.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*
================================================
* Angular Material 2
================================================
*/
//imports all the main angular material assets and predefined theming variables
@import '../node_modules/@angular/material/core/theming/all-theme';

/*Include the base styles for Angular Material core. We include this here so that you only
have to load a single css file for Angular Material in your app.*/

@include md-core();

/*Define the palettes for your theme using the Material Design palettes available in palette.scss
(imported above). For each palette, you can optionally specify a default, lighter, and darker
hue.*/

$primary: md-palette($md-deep-purple, A200);
$accent: md-palette($md-blue, 500);

/*The warn palette is optional (defaults to red).*/

$warn: md-palette($md-red);

/*Create the theme object (a Sass map containing all of the palettes).*/

$theme: md-dark-theme($primary, $accent, $warn);

/*Include theme styles for core and each component used in your app.
Alternatively, you can import and @include the theme mixins for each component
that you are using.*/

@include angular-material-theme($theme);
.day-time {
    $primary: md-palette($md-blue, 500);
    $accent: md-palette($md-green, 500);
    /*The warn palette is optional (defaults to red).*/
    $warn: md-palette($md-red);
    /*Create the theme object (a Sass map containing all of the palettes).*/
    $theme: md-light-theme($primary, $accent, $warn);
    @include angular-material-theme($theme);
}

/*
---------------------------------------------
* End Angular Material 2
---------------------------------------------
*/


/*
==========================================================================
* Reset browser default:
* CSS so cross browser styling is more predictable
==========================================================================
*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

applet,
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: 'Fredoka One', cursive;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

label {
    height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -moz-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
}

html {
    position: relative;
    overflow-y: scroll;
}

the-island .md-input-placeholder,
the-island .md-input-underline,
the-island .md-input-element {
    color: white;
    border-color: white;
}

button.zoom-out span.md-button-wrapper {
    font-size: 20px;
    vertical-align: top;
    line-height: 100%;
    display: block;
}


/*
--------------------------------------------------------------------------
* End Reset browser default
--------------------------------------------------------------------------
*/


/*
--------------------------------------------------------------------------
* Doc formats
--------------------------------------------------------------------------
*/

.comment {
    color: #98e698;
}

.docs {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    border: 10px solid black;
    padding: 10px;
    max-width: 50%;
    margin: 0 auto;
}

.doc-title {
    text-align: center;
    font-size: 40px;
    width: 75%;
    margin: 15px auto;
    border-bottom: 5px white solid;
}

.code {
	width: 75%;
	margin: 0 auto;
}
.code p.doc-block:nth-of-type(odd) {
    background: #8c8c8c;
}

.code p.doc-block:nth-of-type(even) {
    background: #9c9c9c;
}
.code p.doc-block:first-of-type {
    border-radius: 3px 3px 0 0;
}
.code p.doc-block:last-of-type {
    border-radius: 0 0 3px 3px;
}
li.doc-block {
    padding-top: 15px;
    padding-bottom: 15px;
}
.doc-block a {
	color: #a2da00;
	text-decoration: none;
}
.doc-block a:hover {
	color: #beff00;
}
.doc-block > p {
    margin-left: 15.5%;
}
.doc-block {
    padding: 5px;
    width: 75%;
    margin: 0 auto;
}

.bullet {
    list-style: circle;
    padding-left: 5%;
}
span.note {
    border-left: 6px solid grey;
    position: relative;
    padding-left: 5px;
    margin-left: 3%;
    float: left;
}
