object {
    position: absolute;
}

.davy-jones-locker {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto 6% auto;
    width: 40%;
    transition: opacity 1s;
    opacity: 0;
}

.ocean-floor {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
}

img.ng2-lazyloaded {
    opacity: 1;
}

@media screen and ( max-width: 600px ){
    .davy-jones-locker {
        width: 70%;
    }
}   