#deploy {
    position: absolute;
}

img {
	position:absolute;
    transition: opacity 1s;
    opacity: 0;
}
img.ng2-lazyloaded {
    opacity: 1;
}

#deploy {
    top: 50vh;
    left: 0;
    right: 0;
}

.angler {
    left: 27%;
    width: 15%;
    top: 239vh;
}

@media screen and ( max-width: 800px ){
    .angler {
        width: 25%;
    }
}

@media screen and ( max-width: 500px ){
    .angler {
        width: 45%;
    }
}