<section id="deploy" class="docs">
    <h1 class="doc-title">Deploying to Heroku</h1>
    <li class="doc-block">Make sure you have Heroku Toolbelt installed.</li>
    <li class="doc-block">1) Login with your Heroku credentials</li>
    <div class="code">
        <p class="doc-block">$ heroku login</p>
    </div>
    <li class="doc-block">2) Run the gulp task</li>
    <div class="code">
        <p class="doc-block">$ [sudo] npm run deploy:heroku</p>
    </div>
</section>

<img class="angler" [lazyLoad]="angler" [offset]="offset">