<section id="deploy" class="docs">
	<h1 class="big-title">Deploying to Heroku</h1>

<p class="doc-block">Make sure you have Heroku Toolbelt installed.</p>

<p class="doc-block">1) Login with your Heroku credentials</p>

<p class="doc-block">$ heroku login</p>
<p class="doc-block">2) Run the gulp task</p>

<p class="doc-block">$ [sudo] npm run deploy:heroku</p>
</section>

	<object class ="davy-jones-locker" data="/public/assets/davy-jones-locker.svg" type="image/svg+xml">
  		<img src="/public/assets/davy-jones-locker.svg" />
	</object>