#deploy {
    position: absolute;
}

img {
	position:absolute;
    transition: opacity 1s;
    opacity: 0;
}
img.ng2-lazyloaded {
    opacity: 1;
}

#deploy {
    top: 50vh;
    left: 0;
    right: 0;
}

.angler {
    left: 27%;
    width: 15%;
    top: 239vh;
}

.small-jelly {
    width: 3%;
}
.medium-jelly {
    width: 5%;
}
.large-jelly {
    width: 8%;
}
.jellyfish:nth-of-type(1) {
    left: 18%;
    top: 70vh;
}
.jellyfish:nth-of-type(2) {
    left: 80%;
    top: 140vh;
}
.jellyfish:nth-of-type(3) {
    left: 30%;
    top: 110vh;
}


@media screen and ( max-width: 800px ){
    .angler {
        width: 25%;
    }
}

@media screen and ( max-width: 500px ){
    .angler {
        width: 45%;
    }
}