object,
#deploy {
    position: absolute;
}

#deploy {
    top: 50vh;
    left: 0;
    right: 0;
}

.angler {
    left: 27%;
    width: 15%;
    top: 239vh;
}

.davy-jones-locker {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 25%;
}
