# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
dist

# Docker
Dockerfile
docker-compose.yml

# certificates
config/sslcerts

# TypeScript transpiled files
client/app/*.js
client/app/*.js.map
client/app/**/*.js
client/app/**/*.js.map

# Typings folder
client/typings

# e2e test output
config/sys/_test-output
