.wonder {
    position: absolute;
    list-style: none;
    opacity: 0;
}

.wonder p {
    position: absolute;
    top: 40%;
    left: 45%;
    color: black;
}

.dreams-input {
    position: absolute;
    left: 45%;
    top: 55%;
    text-align: center;
    display: block;
    z-index: 1000;
}

img {
  opacity: 0.8;
}
