mountain-goat {
    position: absolute;
    width: 200px;
    height: 200px;
    top: -230px;
    left: 347px;
}

input#testWonder {
    position: absolute;
    top: -177px;
    left: 270px;
    transform: scale(0.2857142857142857);
}