footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 25px;
    background-image: url("/public/assets/footer.jpg");
}

p {
    color: white;
    text-decoration: none;
    display: inline-block;
    line-height: 25px;
}

.octocat {
    display: inline-block;
    float: left;
    height: 25px;
    width: auto;
}

.github p {
    margin-left: 3px;
}

.devs:hover p,
.github:hover p {
    text-decoration: underline;
}

.devs {
    float: right;
    margin-right: 5px;
}
