#whale-wrapper{
    width: 100%;
}

#whale{
    margin-top: -25.3%;
    width: 100%;
}

#baby-whale{
    margin-top: -25.3%;
    width: 28%;
    float: right;
}

the-island {
    position: absolute;
    width: 100%;
    top: -30.4%;
    left: 8.3%;
    pointer-events: none;
} 

.tail-action {
    font-size: 1.8vw;
    left: 80%;
    top: -29%;
    display: block;
    position: absolute;
    pointer-events: all;
    text-decoration: none;
    transition: 0.5s all
}
.tail-action:hover {
    color: white;
}
