#whale-wrapper{
    width: 100%;
}

#whale{
    margin-top: -26.3%;
    width: 100%;
}

the-island {
    position: absolute;
    width: 100%;
    top: -32.5%;
    left: 8.3%;
} 

.tail-action {
    left: 82%;
    top: -31%;
    font-size: 24px;
    display: block;
    position: absolute;
    color: white;
}