<div id="whale-wrapper">
	<img id="whale" class="fade" [src]="whaleSvg"/>
	<a class="tail-action" href="https://github.com/projectSHAI/expressgular2/blob/master/README.md">GET STARTED</a>
	
	<section id="quickstart" class="docs">
    <h1 class="doc-title">Quick Start</h1>
    <div class="code">
        <p class="doc-block"><span>$</span> [sudo] npm install -g yo generator-goatstack</p>
        <p class="doc-block"><span>$</span> mkdir [dirName] && cd [dirName]</p>
        <p class="doc-block"><span>$</span> [sudo] yo goatstack [name?]</p>
        <p class="doc-block comment"><span>#</span> [sudo] mongod in another terminal!</p>
        <p class="doc-block"><span>$</span> [sudo] npm start</p>
        <p class="doc-block comment"><span>#</span> dev environment served to http://localhost:1701</p>
    </div>
</section>
</div>
<img id="baby-whale" class="fade" [src]="whaleSvg"/>
<the-island></the-island>
