#whale-wrapper{
    width: 100%;
}

#whale{
    margin-top: -25.3%;
    width: 100%;
}

#baby-whale{
    margin-top: -25.3%;
    width: 28%;
    float: right;
}

the-island {
    position: absolute;
    width: 100%;
    top: -30.4%;
    left: 8.3%;
    pointer-events: none;
} 

.tail-action {
    font-size: 1.8vw;
    left: 80%;
    top: -29%;
    display: block;
    position: absolute;
    
    text-decoration: none;
    transition: 0.5s all
}
.tail-action:hover {
    color: white;
}

blue-whale .docs {
    width: 22%;
}
#quickstart {
    position: absolute;
    top: 10vh;
    left: 47vw;
    font-size: 1.6vh;
    border-radius: 10px;
    border: 6px solid black;
    padding: 0;
    color: black;
}
#quickstart h1 {
    width: 100%;
    font-size: 5vh;
    margin: 0;
    color: white;
    border: none;
}
#quickstart p.doc-block {
    padding: 2px;
}
.code {
    width: 100%;
}
#quickstart div.code p.doc-block {
    width: 100%;
    padding: 10px 0 10px 0;
}
.code span {
    padding: 0 5px 0 5px;
}
.code p.comment span {
    padding: 0 0 0 5px;
}
