:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    will-change: transform, scroll-position;
}

.sun-moon {
    position: absolute;
    bottom: -150px;
    left: 65%;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    border: 3px solid;
    transition-duration: 1s;
    will-change: transform;
}

.clock {
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-style: cursive;
}