<div class="epipelagic-water">
	<img class="epipelagic-cap" src="/public/assets/epipelagic-cap.svg" />
</div>

<blue-whale></blue-whale>

<object class ="turtle" data="/public/assets/seaturtle.svg" type="image/svg+xml">
  <img src="/public/assets/seaturtle.svg" />
</object>

<object class ="shark" data="/public/assets/shark.svg" type="image/svg+xml">
  <img src="/public/assets/shark.svg" />
</object>

<div class="epipelagic-water-overlay" [style.backgroundColor]="epipelagicColor">
	<img class="epipelagic-cap-overlay" [src]="epipelagicCapOverlaySvg" />
</div>