<img #oceanCap class="epipelagic-cap" src="/public/assets/epipelagic-cap.svg" />
<div class="epipelagic-water"></div>

<blue-whale></blue-whale>

<section class="school1">
	<object class ="fish1 large" data="/public/assets/fish1.svg" type="image/svg+xml">
  		<img src="/public/assets/fish1.svg" />
	</object>
	<object class ="fish1 small" data="/public/assets/fish1.svg" type="image/svg+xml">
  		<img src="/public/assets/fish1.svg" />
	</object>
	<object class ="fish1 small" data="/public/assets/fish1.svg" type="image/svg+xml">
  		<img src="/public/assets/fish1.svg" />
	</object>
	<object class ="fish1 small" data="/public/assets/fish1.svg" type="image/svg+xml">
  		<img src="/public/assets/fish1.svg" />
	</object>			
</section>

<section class="school2">
	<object class ="fish2 large" data="/public/assets/fish2.svg" type="image/svg+xml">
  		<img src="/public/assets/fish2.svg" />
	</object>
	<object class ="fish2 small" data="/public/assets/fish2.svg" type="image/svg+xml">
  		<img src="/public/assets/fish2.svg" />
	</object>
	<object class ="fish2 small" data="/public/assets/fish2.svg" type="image/svg+xml">
  		<img src="/public/assets/fish2.svg" />
	</object>
	<object class ="fish2 small" data="/public/assets/fish2.svg" type="image/svg+xml">
  		<img src="/public/assets/fish2.svg" />
	</object>			
</section>

<object class ="turtle" data="/public/assets/seaturtle.svg" type="image/svg+xml">
  <img src="/public/assets/seaturtle.svg" />
</object>

<object class ="shark" data="/public/assets/shark.svg" type="image/svg+xml">
  <img src="/public/assets/shark.svg" />
</object>

<img class="epipelagic-cap-overlay" [src]="epipelagicCapOverlaySvg" />
<div class="epipelagic-water-overlay" [style.backgroundColor]="epipelagicColor" [style.marginTop]="overlayMargin"></div>