blue-whale {
    position: absolute;
    top: 0vh;
    left: 20%;
    width: 60%;
}
.epipelagic-cap,
.epipelagic-cap-overlay {
	display: block;
}

.epipelagic-water,
.epipelagic-water-overlay{
	height: 100%;
    width: 100%;
}
.epipelagic-water {
	background-color: #1387C1; 
}
.epipelagic-cap-overlay,
.epipelagic-water-overlay {
    position: absolute;
    top:0;
    left: 0;
}
.turtle{
	position: absolute;
	left: 10%;
	width: 10%;
	top: 125vh;
}
.shark{
	position: absolute;
	left: 10%;
	width: 10%;
	top: 175vh;
}