
.ocean,
.ocean-overlay{
	width: 100%;
	margin-top: 20vh;
	position: absolute;
	top:0;
	left: 0;
}
.ocean-overlay {
}
epipelagic-zone{
	position: relative;
    left: 0;
    display:block;
    top: 20vh;
    width: 100%;
    height:200vh;
}
mesopelagic-zone {
    position: relative;
    left: 0;
    display: block;
    top: 0vh;
    width: 100%;
    height: 200vh;
}
ocean-floor{
	height:20px;
	background: brown;
}