:host{
    position: relative;
    display: block;
    overflow-y: hidden;
}

.error-card {
    opacity: 0;
    z-index: 1000;
    width: 20%;
    padding: 0;
    position: fixed;
    bottom: 60px;
    right: 40px;
}

.error-content {
    padding: 15px;
    font-size: medium;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
