<mountain-goat></mountain-goat>
<md-input [style.opacity]="(showInput == false) ? '0' : '1' " id="testWonder" [(ngModel)]="dream" (keyup.enter)="submitWonder(dream)" placeholder="Type a wonder!" class="dreams-input fade" dividerColor="accent"></md-input>
<button class="zoom-out fade" md-fab color="primary" [style.opacity]="(showInput == false) ? '0' : '1' " (click)="zoomDirective.zoomOut()">&#9660;</button>
<img id="island" class="fade" [src]="islandSvg" />
<section [style.opacity]="(showInput == false) ? '0' : '1' " id="quickstart" class="docs fade">
    <h1 class="doc-title">Quick Start</h1>
    <div class="code">
        <p class="doc-block">$ [sudo] npm install -g yo generator-goat-stack</p>
        <p class="doc-block">$ mkdir [dirName] && cd [dirName]</p>
        <p class="doc-block">$ [sudo] yo goat-stack [name?]</p>
        <p class="doc-block">$ # [sudo] mongod in another terminal!</p>
        <p class="doc-block">$ [sudo] npm start</p>
    </div>
</section>
