#island{
    width: 50.8%;
}
.fade {
    transition: opacity 0.5s;
}
button{
    position: absolute;
    top: 14%;
    left: 26.8%;
    width: 3%;
    height: 21%;
    transform: scale(0.28571);
    cursor: pointer;
}
mountain-goat {
    position: absolute;
    width: 1.3%;
    left: 22%;
    top: -19%;
}
md-input#testWonder {
    position: absolute;
    top: 8%;
    left: 16.8%;
    width: 12%;
    height: 15%;
    transform: scale(0.2857142857142857);
}

#quickstart {
    position: absolute;
    top:0;
    left: 33%;
    font-size: 10px;
    border-radius: 10px;
    border: 2px solid black;
    padding: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}
#quickstart h1 {
    font-size: 10px;
    width: 100%;
    margin: 0;
    border: none;
}
#quickstart p.doc-block {
    font-size: 3px;
    padding: 2px;
}
.code {
    width: 100%;
}

@media (max-width: 1750px) {
    md-input#testWonder {
        font-size: 14px;
    }
}
@media (max-width: 1550px) {
    md-input#testWonder {
        font-size: 12px;
    }
}
@media (max-width: 1350px) {
    md-input#testWonder {
        font-size: 10px;
        left: 15.2%;
        width: 15%;
        height: 15%;
    }
}
@media (max-width: 1101px) {
    md-input#testWonder {
        font-size: 10px;
        left: 15.2%;
        width: 15%;
        height: 15%;
    }
}