<div class='app-title'>
    <img id="logo" src="public/assets/goatlogo.svg" />
    <h1>GOATstack</h1>
</div>
<div #menu class="menu-container" [ngClass]="{'menuOpen': menuOpen, 'menu-mobile': !menuHide}">
	<div class="router-links">
		<!-- Add your router links here -->
		<a routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Home</a>
		<a routerLink='/PageNotFound' routerLinkActive='active'>404</a>
		<!-- Sign up/in/out buttons -->
		<button id="sign-up-btn" [ngClass]="{'hidden': (user$ | async).has('userItem')}" type="button" (click)="userFormActions.registerForm(true)">SIGN UP</button>
		<button id="sign-in-btn" [ngClass]="{'hidden': (user$ | async).has('userItem')}" type="button" (click)="userFormActions.loginForm(true)">SIGN IN</button>
		<button id="sign-out-btn" routerLink='/' [ngClass]="{'hidden': !(user$ | async).has('userItem')}" type="button" (click)="userActions.logout()">SIGN OUT</button>
	</div>
</div>
<button class="nav-trigger" *ngIf="!menuHide" [ngClass]="{'is-active': menuOpen}" (click)="openMenu()" type="button">
	<span></span>
</button>
<button routerLink='/profile' routerLinkActive='active' id="welcome-user" *ngIf="(user$ | async).has('userItem')" [ngClass]="{'user-mobile': !menuHide}">Welcome, {{(user$ | async).getIn(['userItem', 'username'])}}</button>