.active {
    color: orange;
}

a:hover {
    cursor: pointer;
}

.app-title {
    width: 275px;
    height: 60px;
    float: left;
}

.app-title h1 {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 32px;
    color: black;
    display: inline-block;
}

#logo {
    display: inline-block;
    opacity: 0.8;
    width: 75px;
    height: 75px;
    margin-top: -10px;
}

@media (max-width: 550px) {
    .app-title {
        width: auto;
    }
    .app-title h1 {
        display: none;
    }

    #logo {
        width: 60px;
        height: 60px;
        margin-top: 0;
        margin-left: 10px;
    }
}
