<div class='app-title'>
    <img id="logo" src="public/assets/goatlogo.svg" />
    <h1>GOATstack</h1>
</div>

<mat-menu direction="right" class="menu" #appMenu="matMenu">
		<button mat-menu-item color="primary" routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
		    <mat-icon>home</mat-icon>
			<span>Home</span>
		</button>
		<button mat-menu-item color="primary" routerLink='/PageNotFound' routerLinkActive='active'>
		    <mat-icon color="warn">error_outline</mat-icon>
			<span>404</span>
		</button>
</mat-menu>
<button id="menu-btn" mat-fab [matMenuTriggerFor]="appMenu" class="menu">
	<mat-icon>menu</mat-icon>
</button>