<div #formToast class="user-form">
	<div class="reg-card">
		<div class="title-color">
			<div>Sign In</div>
		</div>
	  <div class="reg-content">
	    <form #loginForm="ngForm" (ngSubmit)="userActions.login(loginForm) || userFormActions.loginForm(false)">
	    	<div>
	    		<div class="input-wrapper">
	    			<input id="login_email" name="login_email" ngModel required placeholder="Email">
	    		</div>
	    		<div class="input-wrapper">
	    			<input id="login_password" type="password" name="login_password" ngModel required placeholder="Password">
	    		</div>   		
	    	</div>
	        <div>
	        	<button id="back-btn" type="button" (click)="userFormActions.loginForm(false)">BACK</button>
	        	<button id="signup-btn" type="button" (click)="userFormActions.registerForm(true)">SIGN UP</button>
	        	<button id="login-btn">LOGIN</button>
	        </div>
	    </form>
	  </div>
	</div>
	<div id="reg" class="reg-card">
		<div class="title-color">
	  	<div>Create New User</div>
		</div>
		<div class="reg-content">
	    <form #registerForm="ngForm" (ngSubmit)="userActions.register(registerForm) || userFormActions.registerForm(false)">
	    	<div>
		    	<div class="input-wrapper">
		    		<input id="signup_username" name="signup_username" ngModel required placeholder="Username" autoComplete="off">
		    	</div>
		    	<div class="input-wrapper">
		    		<input id="signup_email" name="signup_email" ngModel required placeholder="Email" autoComplete="off">
		    	</div>
		    	<div class="input-wrapper">
		    		<input id="signup_password" type="password" name="signup_password" ngModel required placeholder="Password" autoComplete="off">
		    	</div>
		    	<div class="input-wrapper">
		    		<input id="signup_re_password" type="password" name="signup_re_password" ngModel required placeholder="Password Again" autoComplete="off">
		    	</div>
	    	</div>
	    	<div>	    		
	    		<button id="back-btn2" type="button" (click)="userFormActions.registerForm(false)">BACK</button>
	        	<button id="signin-btn" type="button" (click)="userFormActions.loginForm(true)">SIGN IN</button>
	    		<button id="reg-btn">REGISTER</button>
	    	</div>
	    </form>
	  </div>
	</div>
</div>

<div #errorToast class="error-card">
    <div>
				<div class="error-color">
					<div>Error Message</div>
				</div>
        <div class="error-content">
        	<div><p id="error-text" *ngIf="(error$ | async).get('message')">{{ (error$ | async).get('message') }}</p></div>
        </div>
    </div>
</div>	