blue-whale {
    position: absolute;
    top: 20vh;
    left: 20%;
    width: 60%;
}
.ocean,
.ocean-overlay{
    width: 100%;
    margin-top: 20vh;
}
.ocean-overlay {
    position: absolute;
    top:0;
    left: 0;
}