.sun-moon {
    position: absolute;
    bottom: -150px;
    left: 80%;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 2s;
    border: 3px solid;
}

.clock {
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-style: cursive;
}