:host {
    display: block;
    position: relative;
    top: 93vh;
    margin-bottom: 93vh;
    left: 0;
    display: block;
    width:100%;
    will-change: scroll-position;
}

.ocean-zone{
	min-height: 400vh;
	position: relative;
	display: block;
}
.ocean-wrapper {
	background: rgba(19,135,193,1);
	background: -moz-linear-gradient(top, rgba(19,135,193,1) 0%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,135,193,1)), color-stop(92%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(19,135,193,1) 0%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(19,135,193,1) 0%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(19,135,193,1) 0%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(19,135,193,1) 0%, rgba(0,0,0,1) 92%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1387c1', endColorstr='#000000', GradientType=0 );
}
.day-time {
    background: rgba(19,135,193,0.4);
    background: -moz-linear-gradient(top, rgba(19,135,193,0.4) 0%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(19,135,193,0.4)), color-stop(100%, rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top, rgba(19,135,193,0.4) 0%, rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top, rgba(19,135,193,0.4) 0%, rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(19,135,193,0.4) 0%, rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(19,135,193,0.4) 0%, rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1387c1', endColorstr='#000000', GradientType=0 );
}
.night-time {
    background: rgba(22,18,40,0.7);
    background: -moz-linear-gradient(top, rgba(22,18,40,0.7) 0%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(22,18,40,0.7)), color-stop(100%, rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top, rgba(22,18,40,0.7) 0%, rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top, rgba(22,18,40,0.7) 0%, rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top, rgba(22,18,40,0.7) 0%, rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom, rgba(22,18,40,0.7) 0%, rgba(0,0,0,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161228', endColorstr='#000000', GradientType=0 ); 
}
.overlay-wrapper {
    height: 45px;
    width: 100%;
    overflow: hidden;
}
.epipelagic-cap {
    margin-bottom: -1px;
}
.epipelagic-cap,
.epipelagic-cap-overlay {
    display: block;
    margin-bottom: -1px;
    width: 105%;
    margin-left: -2.5%;
}

#epipelagic-water-overlay{
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.overlay-wrapper,
#epipelagic-water-overlay {
    position: absolute;
    top:0;
    left: 0;
}

@media screen and (min-width: 3300px) {
    .overlay-wrapper {
        height: 80px;
    }
}
@media screen and (max-width: 1750px) {
    .overlay-wrapper {
        height: 25px;
    }
}
@media screen and (max-width: 1010px) {
    .overlay-wrapper {
        height: 15px;
    }
}
@media screen and (max-width: 600px) {
    .overlay-wrapper {
        height: 10px;
    }
}
@media screen and (max-width: 400px) {
    .overlay-wrapper {
        height: 7px;
    }
}
