.ocean-zone{
	height: 400vh;
	position: relative;
	display: block;
}
epipelagic-zone {
	top: 20vh;
}
mesopelagic-zone{
	background-color: #085e7f;
}
bathypelagic-zone{
	background-color: #04313f;
}
abyssopelagic-zone{
	background-color: #000;
}