img {
    transition: opacity 1s;
    opacity: 0;
    position: absolute;
}
img.ng2-lazyloaded {
    opacity: 1;
}

#reqs {
    position: relative;
    left: 0;
    right: 0;
    top: 100vh;
}

#reqs li {
    list-style: circle;
}

.small {
    width: 3%;
}

.medium {
    width: 5%;
}

.large {
    width: 7%;
}

.octochibi:nth-of-type(1) {
    left: 10%;
    top: 10vh;
    transform: rotate(30deg);
}

.octochibi:nth-of-type(2) {
    left: 25%;
    top: 50vh;
}

.octochibi:nth-of-type(3) {
    left: 80%;
    top: 27vh;
}

.octochibi:nth-of-type(4) {
    left: 44%;
    top: 75vh;
    transform: rotate(-26deg);
}

.octochibi:nth-of-type(5) {
    left: 13%;
    top: 105vh;
    transform: rotate(28deg);
}

.octochibi:nth-of-type(6) {
    left: 56%;
    top: 225vh;
    transform: rotate(-18deg);
}

.octochibi:nth-of-type(7) {
    left: 75%;
    top: 285vh;
    transform: rotate(22deg);
}

.octochibi:nth-of-type(8) {
    left: 33%;
    top: 325vh;
}

.octochibi:nth-of-type(9) {
    left: 62%;
    top: 350vh;
    transform: rotate(-15deg);
}

.octochibi:nth-of-type(10) {
    left: 79%;
    top: 150vh;
    transform: rotate(25deg);
}

.octochibi:nth-of-type(11) {
    left: 66%;
    top: 180vh;
}

.octochibi:nth-of-type(12) {
    left: 4%;
    top: 73vh;
}

@media screen and ( max-width: 800px ){
    .small {
        width: 5%;
    }

    .medium {
        width: 7%;
    }

    .large {
        width: 12%;
    }
}