:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

header {
    position: relative;
}

.app-title {
    width: 300px;
    display: block;
    margin: 23px 2.5%;
}

.app-title h1 {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 32px;
    color: black;
    display: inline-block;
}

#logo {
    display: inline-block;
    opacity: 0.8;
    width: 75px;
    height: 75px;
    margin-top: -10px;
}
.app-title h1.night-time {
    color: white;
}