
.wonder {
    will-change: transform;
    position: absolute;
    list-style: none;
    opacity: 0;
    width: 15vw;
    text-align: center;
}
.wonder img {    
    width: 100%;
    opacity: 0.8;
}

.wonder p {
    position: absolute;
    top: 40%;
    width: 100%;
    color: black;
    font-size: 100%;
}
.dreams-input {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 245px;
    display: block;
    z-index: 1000;
    font-size: 32px;
    color: white;
}


@media (max-width: 1950px) {
    .dreams-input {
        font-size: 32px;
    }
}
@media (max-width: 1450px) {
    .dreams-input {
        font-size: 32px;
    }
}
@media (max-width: 1050px) {
    .dreams-input {
        font-size: 32px;
    }
}
@media (max-width: 800px) {
    .wonder {
        width: 20vw;
    }
    .dreams-input {
        font-size: 32px;
    }
}

@media (max-aspect-ratio: 1/1) {
    .wonder {
        width: 20vh;
    }
}