
<div #wonderSky >
    <li #wonderCloud *ngFor="let wonder of (wonder$ | async).get('wonder'); let i = index" class="wonder" [style.left.%]="wonder.xcoor" [style.top.%]="wonder.ycoor">
        <img src="public/assets/{{ (cloudStyle$ | async).get(i) }}.svg">
        <p id={{wonder.name}}>{{wonder.name | ngForHook:wonderCloud:wonder:i:this}}</p>
    </li>
</div>
<md-input id="testWonder" [(ngModel)]="dream" (keyup.enter)="submitWonder(dream)" placeholder="Type a wonder!" class="dreams-input" dividerColor="accent"></md-input>
