the-stratosphere {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200vh;
}

the-troposphere {
    position: absolute;
    top: 200vh;
    left: 0;
    right: 0;
    bottom: 0;
}
