:host{
    position: relative;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;

}

.error-card {
    display: none;
    opacity: 0;
    z-index: 1000;
    width: 20%;
    padding: 0;
    position: fixed;
    bottom: 10%;
    left: 5%;
}

.error-content {
    padding: 15px;
    font-size: medium;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
