<!--
==================================================================
App component
==================================================================
-->

<div [class]="(toda$ | async).get('time')">
	<header>
		<header-section></header-section>
	</header>
	<router-outlet></router-outlet>
	<footer-section></footer-section>

	<div #formToast class="user-form">
		<md-card class="reg-card">
		  <md-toolbar color="primary">Sign In</md-toolbar>
		  <md-card-content class="reg-content">
		    <form #loginForm="ngForm" (ngSubmit)="userActions.login(loginForm) || userFormActions.loginForm(false)">
		    	<div>
			    	<md-input id="login_email" name="login_email" ngModel required placeholder="Email"></md-input>
			    	<md-input id="login_password" type="password" name="login_password" ngModel required placeholder="Password"></md-input>	    		
		    	</div>
		        <div>
		        	<button md-raised-button type="button" (click)="userFormActions.loginForm(false)" color="primary">BACK</button>
		        	<button md-raised-button type="button" (click)="userFormActions.registerForm(true)" color="primary">SIGN UP</button>
		        	<button md-raised-button color="accent" id="submit">LOGIN</button>
		        </div>
		    </form>
		  </md-card-content>
		</md-card>
		<md-card id="reg" class="reg-card">
		  <md-toolbar color="primary">Create New User</md-toolbar>
		  <md-card-content class="reg-content">
		    <form #registerForm="ngForm" (ngSubmit)="userActions.register(registerForm) || userFormActions.registerForm(false)">
		    	<div>
		    		<md-input id="signup_username" name="signup_username" ngModel required placeholder="Username" autoComplete="off"></md-input>
		    		<md-input id="signup_email" name="signup_email" ngModel required placeholder="Email" autoComplete="off"></md-input>
			        <md-input id="signup_password" type="password" name="signup_password" ngModel required placeholder="Password" autoComplete="off"></md-input>
			        <md-input id="signup_re_password" type="password" name="signup_re_password" ngModel required placeholder="Password Again" autoComplete="off"></md-input>
		    	</div>
		    	<div>	    		
		    		<button md-raised-button type="button" (click)="userFormActions.registerForm(false)" color="primary">BACK</button>
		        	<button md-raised-button type="button" (click)="userFormActions.loginForm(true)" color="primary">SIGN IN</button>
		    		<button md-raised-button color="accent" id="submit">REGISTER</button>
		    	</div>
		    </form>
		  </md-card-content>
		</md-card>
	</div>

	<div #errorToast class="error-card">
	    <md-card>
	        <md-toolbar color="accent">Error Message</md-toolbar>
	        <md-card-content class="error-content">
	        	<div><p id="errorText">{{ (error$ | async).get('message') }}</p></div>
	        </md-card-content>
	    </md-card>
	</div>	
</div>

