:host{
    position: relative;
    display: block;
    overflow-y: hidden;
    overflow-x: hidden;

}

.error-card {
    display: none;
    opacity: 0;
    position: fixed;
    bottom: 10%;
    left: 5%;
    width: 20%;
}

.error-card > md-card {
    z-index: 1000;
    padding: 0;
}

.error-content {
    padding: 15px;
    font-size: medium;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.user-sign button:hover {
    cursor: pointer;
}

.reg-card {
    display: none;
    position: fixed;
    margin-left: -200px;
    top: 20%;
    left: 50%;
    z-index: 10000;
    padding: 0;
    opacity: 0;
}

.reg-card#reg {
    top: 15%;
} 

.reg-card table,
.reg-card md-input {
    width: 100%;
} 

.reg-content {
    padding: 10px;
}

.form-button {
    margin-right: 2px;
}

td {
    padding: 2px;
}

.submit-col {
    text-align: right;
}

