:host {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
the-sky{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
}
the-earth{
    position: relative;
    display: block;
}