.active {
    color: orange;
}

:host {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 23px 2.5%;
}

a:hover {
    cursor: pointer;
}

.app-title {
    width: 275px;
    height: 60px;
    float: left;
}

.app-title h1 {
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 32px;
    color: black;
    display: inline-block;
}

.menu-container {
    width: -webkit-calc(100% - 275px);
    width:    -moz-calc(100% - 275px);
    width:         calc(100% - 275px);
    float: left;
    margin-top: 11px;
}
.menu-container.menu-mobile {
    position: absolute;
    right: 0;
    top: 80%;
    width: auto;
}

.router-links {
}

.router-links button {  
    float: right;    
    margin-left: 5px;
}

.menu-container.menu-mobile > .router-links.show {
  display: block;
}
.menu-container.menu-mobile > .router-links {
    display: none;
    float: none;
}
.menu-container.menu-mobile > .router-links > .hidden {
    display: none;
}
.menu-container.menu-mobile > .router-links > a,
.menu-container.menu-mobile > .router-links > button {
    float: none;
    display: block;
    margin-top: 5px;
    margin-left: 0;
}

#logo {
    display: inline-block;
    opacity: 0.8;
    width: 75px;
    height: 75px;
    margin-top: -10px;
}
.app-title h1.night-time {
    color: white;
}

#welcome-user {
    position: absolute;
    top: 11px;
    right: 103px;
}

.user-mobile#welcome-user {
    position: relative;
    float: right;
    margin-right: 2%;
    top: 11px;    
    right: 0;
}


@media (max-width: 550px) {
    .app-title {
        width: auto;
    }
    .app-title h1 {
        display: none;
    }
    #welcome-user {

    }

    #logo {
        width: 60px;
        height: 60px;
        margin-top: 0;
        margin-left: 10px;
    }
}


// Menu button

*,
*:after,
*:before {
    box-sizing: border-box;  
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background: #434A54;
  text-align: center;
  padding: 50px 0;
}

.hidden {
    display: none;
}

/* Nav Trigger */
.nav-trigger {
  float: right;
  width: 50px;
  height: 50px;
  position: relative;
  background: transparent;
  border: none;
  vertical-align: middle;
  padding: 10px;
  margin: 0;
  margin-top: 4px;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &:hover {
    span,
    span:before,
    span:after {
        background: #AC92EC;
    }
  }
  &:before {
    content: '';
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;
  }
  span {
    display: block;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
    }
    &:before {
      top: -8px;
    }
    &:after {
      bottom: -8px;
    }
  }
  span,
  span:before,
  span:after {
    width: 100%;
    height: 4px;
    background: #967ADC;
    transition: all 0.4s ease;
  }
  &.is-active {
    &:before {
      opacity: 1;
      width: 50px;
      height: 50px;
      background: #fff;
    }
    span {
      background: transparent;
      &:before {
        top: 0;
        transform: rotate(225deg);
      }
      &:after {
        bottom: 0;
        transform: rotate(-225deg);
      }
    }
  }
}