whale{
  position: absolute;
}
the-ocean {
    position: absolute;
    top: 1218px;
    left: -3000px;
}
ocean-overlay {
    position: relative;
    left: -3000px
}
the-island {
    position: relative;
    top: 300px;
    left: -1112px;
} 