#whale-wrapper{
    width: 100%;
}

#whale{
    margin-top: -21.6%;
    width: 100%;
}

the-island {
    position: absolute;
    width: 100%;
    top: -19.7%;
    left: 8.3%;
} 

.tail-action {
    left: 82%;
    top: -18%;
    font-size: 24px;
    display: block;
    position: absolute;
    color: white;
}