<div class='app-title'>
    <img id="logo" src="public/assets/goatlogo.svg" />
    <h1>GOATstack</h1>
</div>

<mat-sidenav #sidenav position='end'>
		<button color="primary" mat-menu-item  routerLink='/' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
		    <mat-icon>home</mat-icon>
			<span>Home</span>
		</button>
		<button color="primary" mat-menu-item  routerLink='/PageNotFound' routerLinkActive='active'>
		    <mat-icon color="warn">error_outline</mat-icon>
			<span>404</span>
		</button>
</mat-sidenav>
<button id="menu-btn" mat-fab (click)="sidenav.toggle()">
	<mat-icon>menu</mat-icon>
</button>

