:host {
    float: right;
}

:host.signinout-mobile > div > div > button {
    display: block;
    margin-top: 5px;
}

:host.signinout-mobile .reg-card {
    position: absolute;
    top: 4%;
    left: -465%;
}
