:host {
    float: right;
}

:host.signinout-mobile > div > button {
	display: inherit;
    margin-top: 5px;
}

.user-sign-buttons {
    display: none;
}

:host.signinout-mobile > div > .hidden {
    display: none;
}
