:host {
    float: right;
}

.user-sign button:hover {
    cursor: pointer;
}

.reg-card {
    z-index: 1000;
    padding: 0;
}

.reg-content {
    padding: 10px;
}

.form-button {
    margin-right: 2px;
}

td {
    padding: 2px;
}

.submit-col {
    text-align: right;
}

:host.signinout-mobile > div > div > button {
    display: block;
    margin-top: 5px;
}

:host.signinout-mobile .reg-card {
    position: absolute;
    top: 4%;
    left: -465%;
}
