<div class="user-sign">
  <div>
    <h3 id="welcomeUser" *ngIf="(user$ | async)">Welcome, {{(user$ | async).userName}}</h3>
    <button md-raised-button *ngIf="!(user$ | async) && !(userForm$ | async).get('userSigning') && !(userForm$ | async).get('userSignup')"
      type="button" (click)="userFormActions.registerForm(true)" color="primary">SIGN UP</button>
    <button md-raised-button *ngIf="!(user$ | async) && !(userForm$ | async).get('userSigning') && !(userForm$ | async).get('userSignup')"
      type="button" (click)="userFormActions.loginForm(true)" color="primary">SIGN IN</button>
    <button md-raised-button *ngIf="(user$ | async)" type="button"
      (click)="userActions.logout()" color="primary">SIGN OUT</button>
  </div>
  <md-card class="reg-card" *ngIf="(userForm$ | async).get('userSigning')">
    <md-toolbar color="primary">Sign In</md-toolbar>
    <md-card-content class="reg-content">
      <form #loginForm="ngForm" (ngSubmit)="userActions.login(loginForm) || userFormActions.loginForm(false)">
        <table style="width: 100%" cellspacing="0"><tr>
          <td><md-input id="login_email" name="login_email" ngModel required placeholder="Email"
            style="width: 100%" class="user-signin-input"></md-input></td>
          <td><md-input id="login_password" type="password" name="login_password" ngModel required
            style="width: 100%" placeholder="Password" class="user-signin-input"></md-input></td>
        </tr><tr>
          <td><button md-raised-button type="button" (click)="userFormActions.loginForm(false)"
            color="primary" class="form-button">BACK</button>
          <button md-raised-button type="button" (click)="userFormActions.registerForm(true)"
            color="primary" class="form-button pos-right">SIGN UP</button></td>
          <td class="submit-col"><button md-raised-button color="accent"
            class="form-button">LOGIN</button></td>
        </tr></table>
      </form>
    </md-card-content>
  </md-card>
  <md-card class="reg-card" *ngIf="(userForm$ | async).get('userSignup')">
    <md-toolbar color="primary">Create New User</md-toolbar>
    <md-card-content class="reg-content">
      <form #registerForm="ngForm" (ngSubmit)="userActions.register(registerForm) || userFormActions.registerForm(false)">
        <table style="width: 100%" cellspacing="0"><tr>
          <td><md-input id="signup_username" name="signup_username" ngModel required placeholder="Username"
            class="user-signup-input" style="width: 100%" autoComplete="off"></md-input></td>
          <td><md-input id="signup_email" name="signup_email" ngModel required placeholder="Email"
            class="user-signup-input" style="width: 100%" autoComplete="off"></md-input></td>
        </tr><tr>
          <td><md-input id="signup_password" type="password" name="signup_password" ngModel required placeholder="Password"
            class="user-signup-input" style="width: 100%" autoComplete="off"></md-input></td>
          <td><md-input id="signup_re_password" type="password" name="signup_re_password" ngModel required placeholder="Password Again"
            class="user-signup-input" style="width: 100%" autoComplete="off"></md-input></td>
        </tr><tr>
          <td><button md-raised-button type="button" (click)="userFormActions.registerForm(false)"
            color="primary" class="form-button">BACK</button></td>
          <td class="submit-col"><button md-raised-button color="accent">REGISTER</button></td>
        </tr></table>
      </form>
    </md-card-content>
  </md-card>
</div>
