<header>

  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
  <a routerLink="/profile" routerLinkActive="active">Profile</a>
  <a routerLink="/yoloswaq69420blazeitfgt" routerLinkActive="active">404</a>

  <div class="user-sign">
    <h3 *ngIf="currentUser">Welcome, {{currentUser.name}}</h3>
    <button *ngIf="!currentUser" type="button" (click)="testRegisterUser()">Sign up</button>
    <button *ngIf="!currentUser" type="button" (click)="testUser()">Sign in</button>
    <button type="button" (click)="logout()">Sign out</button>
  </div>

  <h1 class="title">MEA2N Fullstack</h1>
</header>
