:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

header {
    position: relative;
}

.app-title {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.app-title h1 {
    font-family: cursive;
    padding: 10px;
    text-align: center;
    vertical-align: top;
    font-size: 32px;
    color: white;
    display: inline-block;
}

#logo {
    display: inline-block;
    opacity: 0.8;
    width: 75px;
    height: 50px;
}
