header{
  background: rgb(55, 129, 215);
  position: relative;
}
.user-sign{
  position: absolute;
  top:0;
  right:0;
  margin: 23px 5%;
}
.title{
  font-family: cursive;
  padding: 15px;
  text-align: center;
  font-size: 36px;
  color: white;
}
.user-sign button:hover{
  cursor: pointer;
}
