<img *ngFor="let image of images; let i = index" [class]="styles[i]" [lazyLoad]="image" [offset]="offset">

<section id="reqs" class="docs">
    <h1 class="doc-title">Required Technologies for your Development Environment</h1>
    <li class="doc-block"><a href="https://www.typescriptlang.org/">typescript</a></li>
    <li class="doc-block"><a href="https://nodejs.org/en/">nodejs</a></li>
    <li class="doc-block"><a href="https://www.mongodb.com/">mongodb</a></li>
    <li class="doc-block">Your favorite browser (Chrome is prefered because of Devtools)</li>
    <li class="doc-block"><a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en">Redux DevTools</a> for Google Chrome</li>
</section>
