<object class="octo-chibi small" data="/public/assets/octo-chibi-blue.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-blue.svg" />
</object>
<object class="octo-chibi medium" data="/public/assets/octo-chibi-green.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-green.svg" />
</object>
<object class="octo-chibi small" data="/public/assets/octo-chibi-orange.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-orange.svg" />
</object>
<object class="octo-chibi medium" data="/public/assets/octo-chibi-purple.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-purple.svg" />
</object>
<object class="octo-chibi large" data="/public/assets/octo-chibi-red.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-red.svg" />
</object>
<object class="octo-chibi small" data="/public/assets/octo-chibi-blue.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-blue.svg" />
</object>
<object class="octo-chibi medium" data="/public/assets/octo-chibi-green.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-green.svg" />
</object>
<object class="octo-chibi large" data="/public/assets/octo-chibi-orange.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-orange.svg" />
</object>
<object class="octo-chibi small" data="/public/assets/octo-chibi-purple.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-purple.svg" />
</object>
<object class="octo-chibi small" data="/public/assets/octo-chibi-blue.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-blue.svg" />
</object>
<object class="octo-chibi medium" data="/public/assets/octo-chibi-purple.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-purple.svg" />
</object>
<object class="octo-chibi small" data="/public/assets/octo-chibi-red.svg" type="image/svg+xml">
    <img src="/public/assets/octo-chibi-red.svg" />
</object>
<section id="reqs" class="docs">
    <h1 class="doc-title">Required Technologies for your Development Environment</h1>
    <li class="doc-block"><a href="https://www.typescriptlang.org/">typescript</a></li>
    <li class="doc-block"><a href="https://nodejs.org/en/">nodejs</a></li>
    <li class="doc-block"><a href="https://www.mongodb.com/">mongodb</a></li>
    <li class="doc-block">Your favorite browser (Chrome is prefered because of Devtools)</li>
    <li class="doc-block"><a href="https://chrome.google.com/webstore/detail/redux-devtools/lmhkpmbekcpmknklioeibfkpmmfibljd?hl=en">Redux DevTools</a> for Google Chrome</li>
</section>
