<object class ="squid2 small" data="/public/assets/squid2-pink.svg" type="image/svg+xml">
  	<img src="/public/assets/squid2-pink.svg" />
</object>
<object class ="squid2 medium" data="/public/assets/squid2-purple.svg" type="image/svg+xml">
  	<img src="/public/assets/squid2-purple.svg" />
</object>
<object class ="squid2 large" data="/public/assets/squid2-red.svg" type="image/svg+xml">
  	<img src="/public/assets/squid2-red.svg" />
</object>
<object class ="squid3 small" data="/public/assets/squid3-blue.svg" type="image/svg+xml">
  	<img src="/public/assets/squid3-blue.svg" />
</object>
<object class ="squid3 medium" data="/public/assets/squid3-orange.svg" type="image/svg+xml">
  	<img src="/public/assets/squid3-orange.svg" />
</object>