<object class="squid2 small-squid" data="/public/assets/squid2-pink.svg" type="image/svg+xml">
    <img src="/public/assets/squid2-pink.svg" />
</object>
<object class="squid2 medium-squid" data="/public/assets/squid2-purple.svg" type="image/svg+xml">
    <img src="/public/assets/squid2-purple.svg" />
</object>
<object class="squid2 large-squid" data="/public/assets/squid2-red.svg" type="image/svg+xml">
    <img src="/public/assets/squid2-red.svg" />
</object>
<object class="squid3 small-squid" data="/public/assets/squid3-blue.svg" type="image/svg+xml">
    <img src="/public/assets/squid3-blue.svg" />
</object>
<object class="squid3 medium-squid" data="/public/assets/squid3-orange.svg" type="image/svg+xml">
    <img src="/public/assets/squid3-orange.svg" />
</object>
<object class="jellyfish small-jelly" data="/public/assets/jellyfish-blue.svg" type="image/svg+xml">
    <img src="/public/assets/jellyfish-blue.svg" />
</object>
<object class="jellyfish medium-jelly" data="/public/assets/jellyfish-blue.svg" type="image/svg+xml">
    <img src="/public/assets/jellyfish-blue.svg" />
</object>
<object class="jellyfish large-jelly" data="/public/assets/jellyfish-orange.svg" type="image/svg+xml">
    <img src="/public/assets/jellyfish-orange.svg" />
</object>
<object class="jellyfish small-jelly" data="/public/assets/jellyfish-orange.svg" type="image/svg+xml">
    <img src="/public/assets/jellyfish-orange.svg" />
</object>
<object class="jellyfish medium-jelly" data="/public/assets/jellyfish-purple.svg" type="image/svg+xml">
    <img src="/public/assets/jellyfish-purple.svg" />
</object>
<object class="jellyfish large-jelly" data="/public/assets/jellyfish-purple.svg" type="image/svg+xml">
    <img src="/public/assets/jellyfish-purple.svg" />
</object>
<section id="install" class="docs">
    <h1 class="big-title">Installation</h1>
    <div id="windows">
        <h1 class="doc-title">Windows</h1>
        <li class="doc-block">1) Install Git</li>
        <li class="doc-block"><span class="note">note:</span><p>You may need to configure system PATH to appropriate git command</p></li>
        <li class="doc-block">2) Install NodeJS</li>
        <li class="doc-block"><span class="note">note:</span><p>You may need to configure system PATH to appropriate node command</p></li>
        <li class="doc-block">3) Install MongoDB</li>
        <li class="doc-block"><span class="note">note:</span><p>You may need to configure system PATH to appropriate mongod command</p></li>
        <li class="doc-block">4) Install Python and C++ compiler</li>
        <li class="doc-block"><span class="note">note:</span><p>Installing Visual Studios Community will be a sufficiant compiler</p></li>
        <li class="doc-block bullet">if you do not want the full blown Visual Studios IDE then you can also download a standalone version of Visual Studio's build tools here</li>
        <li class="doc-block bullet">Make sure to configure npm to use the correct c++ compiler using the following command npm config set msvs_version 2015 2015 is the version linked above, replace this number with your version if it differs. If you still have issues during npm install follow the install instructions here for node-gyp.</li>
        <li class="doc-block">5) Clone and Run</li>
        <div class="code">
            <p class="doc-block">$ npm install -g yo generator-goat-stack</p>
            <p class="doc-block">$ mkdir GOAT-stack && cd GOAT-stack</p>
            <p class="doc-block">$ yo goat-stack [name?]</p>
            <p class="doc-block">$ # mongod in another terminal!</p>
            <p class="doc-block">$ npm start</p>
        </div>
    </div>
    <div class="linux">
        <h1 class="doc-title">Linux</h1>
        <li class="doc-block">1) Install Git</li>
        <div class="code">
        <p class="doc-block">$ sudo apt-get install git</p>
        </div>
        <li class="doc-block">2) Install NodeJS</li>
        <div class="code">
        <p class="doc-block">$ curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -</p>
        <p class="doc-block">$ sudo apt-get install -y nodejs</p>
        </div>
        <li class="doc-block">or 7.x</li>
        <div class="code">
        <p class="doc-block">$ curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -</p>
        <p class="doc-block">$ sudo apt-get install -y nodejs</p>
		</div>
        <li class="doc-block">3) Install MongoDB</li>
        <li class="doc-block">4) Clone and Run</li>
        <div class="code">
        <p class="doc-block">$ sudo npm install -g yo generator-goat-stack</p>
        <p class="doc-block">$ mkdir GOAT-stack && cd GOAT-stack </p>
        <p class="doc-block">$ sudo yo goat-stack [name?]</p>
        <p class="doc-block">$ # sudo mongod in another terminal!</p>
        <p class="doc-block">$ sudo npm start</p>
        </div>
        <li class="doc-block"><span class="note">note:</span><p>npm needs to be elevated with sudo, otherwise child_process will throw errors and/or webpack-dev-server will not serve.</p></li>
    </div>
</section>
