img {
	position:absolute;
    transition: opacity 1s;
    opacity: 0;
}
img.ng2-lazyloaded {
    opacity: 1;
}

#install {
	position: absolute;
	left: 0;
	right: 0;
	top: 50vh;
}

.big-title {
	font-size: 45px;
	text-align: center;
}
.small-squid {
	width: 10%;
}
.medium-squid {
	width: 15%;
}
.large-squid {
	width: 35%;
}
.squid:nth-of-type(1) {
	left: 14%;
	top: 50vh;
}
.squid:nth-of-type(2) {
	left: 56%;
	top: 120vh;
}
.squid:nth-of-type(3) {
	left: 10%;
	top: 390vh;
}
.squid:nth-of-type(4) {
	left: 60%;
	top: 300vh;
}
.squid:nth-of-type(5) {
	left: 28%;
	top: 330vh;
}

.small-jelly {
	width: 3%;
}
.medium-jelly {
	width: 5%;
}
.large-jelly {
	width: 8%;
}
.jellyfish:nth-of-type(6) {
	left: 18%;
	top: 70vh;
}
.jellyfish:nth-of-type(7) {
	left: 80%;
	top: 140vh;
}
.jellyfish:nth-of-type(8) {
	left: 30%;
	top: 200vh;
}
.jellyfish:nth-of-type(9) {
	left: 55%;
	top: 210vh;
}
.jellyfish:nth-of-type(10) {
	left: 10%;
	top: 325vh;
}
.jellyfish:nth-of-type(11) {
	left: 75%;
	top: 350vh;
}

@media screen and ( max-width: 800px ){
	.small-squid {
		width: 20%;
	}
	.medium-squid {
		width: 35%;
	}
	.large-squid {
		width: 75%;
	}
	.small-jelly {
		width: 5%;
	}
	.medium-jelly {
		width: 8%;
	}
	.large-jelly {
		width: 13%;
	}	
}